header.header
    nav.nav.nav--tours
        a(href='/').nav__el All tours

    .header__logo
        img(src='/img/logo-white.png' alt='Mitstours logo')

    nav.nav.nav--user
        //- a(href='#').nav_el My bookings
        //- a(href='#').nav_el My bookings
        //-   img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-   span Mits
        if user 
            a(href='/me').nav__el
                img.nav__user-img(src=`/img/users/${user.photo}`, alt='User photo')
                span= user.name.split(' ')[0]
            a(href='/logout').nav__el Log out
        else
            a(href='/login').nav__el Log in
            a.nav__el.nav__el--cta(href='#') Sign up